# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]

# Ignorar checkpoints de notebooks
.ipynb_checkpoints/

# Ignorar archivos del sistema
.DS_Store

# Ignorar entornos virtuales si los tuvieras
env/
venv/

# *.pt
